ul.dark-theme {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4c4c4c;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c0c0c0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-bottom: 0;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(154, 154, 154);
  }

  li a.dark-theme:hover:not(.active) {
    background-color: rgb(148, 148, 148);
  }
  
  .active.dark-theme{
    background-color: rgb(255, 199, 103);
  }

  ul h1{
    color: rgb(84, 84, 84);
  }

  .active {
    background-color: rgb(154, 154, 154);
  }

  .active.dark-theme:hover{
    background-color: rgb(255, 199, 103,0.9);
  }

  .active:hover{
    background-color: rgba(86, 86, 86, 0.9);
  }

body{
    margin: 0px;
}

ul div{
  display: none;
}

ul h1{
  display: none;
}
ul i::before{
  display: none;
}

@media only screen and (max-width:600px){
  li{
    display: none;
  }
  ul h1{
    display: block;
    text-align: center;
  }
  ul i::before{
    display: inline-block;
    right: 3%;
    position: absolute;
    top: 1%;
    font-size: 32px;
  }

  ul a{
    display: inline-block;
    right: 0;
    position: absolute;
    top: 0;
    font-size: 32px;
    margin-bottom: 0;
  }
}