button{
    background-color: rgb(210, 210, 210);
    color: rgb(230, 145, 0);
    border: 3px solid rgb(230, 145, 0);
    font-weight: 600;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 3px 3px rgb(210, 210, 210);
}

button:hover{
    background-color: rgb(230, 145, 0);
    color: rgb(210, 210, 210);
    border:3px solid rgb(210, 210, 210);
    box-shadow:3px 3px rgb(255, 199, 103);
}

.text_quiz{
    text-decoration: none;
    color:rgb(230, 145, 0);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.text_quiz:hover{
    color:rgb(255, 174, 35);
}

.question{
    margin: 2px;
}

.question_user_answer{
    display: block;
    outline: none !important;
    border:3px solid rgb(230, 145, 0,70%);
    box-shadow: 3px 3px rgb(255, 174, 35, 35%);
}

.question_user_answer:focus{
    outline: none !important;
    border:3px solid rgb(255, 174, 35);
    box-shadow: 3px 3px rgb(230, 145, 0, 30%);
    border-radius: 5px;
}

body.dark-theme{
    background-color: rgb(107, 107, 107);
}

h1.dark-theme{
    color:rgb(255, 199, 103);
}

label.dark-theme{
    color:rgb(255, 199, 103);
}

a.dark-theme{
    text-decoration: none;
}

h2.dark-theme{
    color:white;
}

.form-control::placeholder{
    color:rgb(0,0,0);
}

.form-control:-webkit-autofill,
.form-control{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-right: 500px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(205, 205, 205);
    background-color: grey!important;
    -webkit-box-shadow: 0 0 0 30px grey inset !important;
    color:black;
    font-size: 14px;
}

.login-panel-texts{
    color:rgb(205, 205, 205);
}

.login-panel{
    padding-bottom: 7%!important;
    padding-top: 7%!important;
    background-color: rgb(46, 46, 46);
    margin: 0;
    position: absolute;
    border-radius: 30px;
    box-shadow: 5px 5px rgb(205, 205, 205);
    padding-left: 10%;
    padding-right: 10%;
    left: 50%;
    top: 12%;
    transform: translate(-50.5%, 0);
}

.register-panel{
    padding-bottom: 3%!important;
    padding-top: 3%!important;
    background-color: rgb(46, 46, 46);
    margin: 0;
    position: absolute;
    border-radius: 30px;
    box-shadow: 5px 5px rgb(205, 205, 205);
    padding-left: 10%;
    padding-right: 10%;
    left: 50%;
    top:5%;
    transform: translate(-50.5%, 0);
}

.register-panel-texts{
    color:rgb(205, 205, 205);
}

@media only screen and (min-width:601px){
    #submit{
        margin-top: 7px;
        margin-left:7px;
    }
    #back{
        margin-top: 7px;
    }

    .user_dashboard_user_photo{
        display: inline;
        margin-left: 5%;
        margin-top: 5%;
        width: 230px;
        height: 230px;
        border-radius: 115px;
    }

    .user_dashboard_quiz_result{
        display:inline; 
        right:10%; 
        position: absolute;
    }
    
    .user_dashboard_quiz_name{
        display: inline-flex
    }

    #user_level_button{
        display: block!important;
        margin-left: auto;
        margin-right: auto;
    }

    #user_level,
    #user_exp,
    .user_dashboard_username{
        display: block;
        text-align: center;
    }

    .quizzes_container{
        display: inline-block; 
        width: 30%; 
        margin-left:70px;
        margin-top:5%;
        vertical-align: top;
    }

    .user_container{
        display: inline-block;
    }
}


@media only screen and (max-width:600px){
.quiz_name{
    text-align: center;
}
#submit{
    display: inline;
    margin-top: 7px;
}

#back{
    text-decoration: none;
    position: absolute;
    margin-top: 7px;
    left:    10px;
    /* bottom:   5px; */
}
button{
    padding: 7px;
    padding-left: 23px!important;
    padding-right: 23px!important;
}

a{
    text-decoration: none;
    margin-bottom: 40%;
}

.a{
    position: relative;
    display: inline-flex;
    left: 1%;
}

.b{
    position: absolute;
    display: inline-flex;
    left: 30%;
}

.c{
    position: absolute;
    display: inline-flex;
    left: 55%;
}

.d{
    position: absolute;
    display: inline-flex;
    left: 80%;
}

.question_user_answer{
    font-size: 15px;
}

.login-panel{
    background-color: rgb(46, 46, 46);
    margin: 0;
    border-radius: 30px;
    box-shadow: 5px 5px rgb(205, 205, 205);
    left: 30%;
    top: 16%;
    transform: translate(-25%, 0);
}

h1.login-panel-texts{
    margin-top: 20%;
}

.form-control{
    margin-top: 10%;
}

body{
    overflow-x:hidden;
}

form{
    width: 220px;
}

.register-panel{
    background-color: rgb(46, 46, 46);
    margin: 0;
    border-radius: 30px;
    box-shadow: 5px 5px rgb(205, 205, 205);
    left: 30%;
    top: 1%;
    transform: translate(-25%, 0);
}

.user_dashboard_quiz_result{
    display:inline; 
    right:10%; 
    position: absolute
}

.user_dashboard_quiz_name{
    display: inline-flex
}

#user_level,
#user_exp,
#user_level_button{
    text-align: center;
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 8%;
}
.user_dashboard_username{
    text-align: center;
}

.user_dashboard_user_photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: 230px;
    border-radius: 115px;
}

}

@media only screen and (max-width:400px){    
    #user_exp{
        text-align: center;
        display: block;
        margin-bottom: 5%;
    }

    #user_level,
    #user_level_button{
        text-align: center!important;
        display: inline-block!important;
        margin-left: 12%;
        margin-bottom: 8%;
    }
}