{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" ></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/theme.js' %}"></script>
</head>
<body>
    {% for i in all_quizzes%}
    <a class="text_quiz" href="{% url 'quiz_page' i.id %}"><h1>{{i.name}}</h1></a>
    {%endfor%}
    <a class="text_quiz" href="{% url 'settings' %}"><h1>Settings</h1></a>
    <a class="text_quiz" href="{% url 'user_dashboard_web_page' %}"><h1>User Dashboard</h1></a>
    <a class="text_quiz" href="{% url 'logout' %}"><h1>LOGOUT</h1></a>
</body>
</html>