{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" ></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
        var quizId = "{{ quiz_id }}";
        var currentlyUser = "{{ currently_user }}";
        var csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/quiz_page.js' %}"></script>
    <script src="{% static 'js/date.js' %}"></script>
</head>
<body>
    
    <!--<h2>Currently User: {{currently_user}}</h2>-->
    <div class="question_all"></div>
    <a class="back_button" href="/"><button id="back">BACK</button></a>
    <button id="submit">FINISH</button>
    <h1 id="abc"></h1>
</body>
</html>
