{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" ></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/settings.js' %}"></script>
</head>
<body>
    <input type="checkbox" name="Dark Theme" value="True" id="theme_checkbox">
    <label for="Dark Theme">Dark Theme</label>
    <a href="/"><button style="bottom:10px" id="back">BACK</button></a>
</body>
</html>