{% extends "navbar.html" %}
{% load static %}
{% block content %}

<head>
    <title>Dashboard</title>
    <script src="{% static 'js/user_dashboard.js' %}"></script>
</head>
<body>
    <div class="user_container">
        <a class="user_dashboard_user_photo_click"><img class="user_dashboard_user_photo" src="" alt=""></a>
        <input id="user_photo_file_input" type="file">
        <h1 class="user_dashboard_username" id="username"></h1>
        <h1 class="user_dashboard_username" id="user_exp">Exp:</h1>
        <h1 class="user_dashboard_username" id="user_level">Level:</h1>
        <button class="user_dashboard_username" id="user_level_button">Update Level</button>
        <h1 class="user_dashboard_username" id="user_level_up">Level Up Cost:</h1>
    </div>
    <div class="quizzes_container">
        <h1 style="display: inline;" class="user_dashboard_quiz_name">Quizzes</h1>
        <h1 style="display: inline;" id="quiz_name"></h1>
        <h1 style="display: inline; margin:0px;" class="user_dashboard_quiz_result">Results</h1>
        <h1 style="display: inline;" id="quiz_success"></h1>
        <!--<a class="back_button" href="/"><button id="back">BACK</button></a>-->
    </div>
</body>

{% endblock %}